.saas-documentation
  .btn-sharp.btn-gray:active, .btn-sharp.btn-gray:focus
    outline 0

  .btn-lime i, .btn-lime:after, .btn-small i, .btn-small:after
    display none

  .btn-lime:hover, .btn-small:hover
    box-shadow 0 5px 15px -2px rgba(0, 0, 0, .3) !important
    -webkit-transform translateY(-2px)
    transform translateY(-2px)
    border-color transparent
    background $secondary

  .btn-lime:active, .btn-small:active
    -webkit-transform translateY(1px)
    transform translateY(1px)
    opacity .8

  .btn-lime.red, .btn-small.red
    background #db4139
    color #fff
  .btn-lime, .btn-small
    font-size 14px
    height 35px
    border none
    line-height 33px
    transition box-shadow .3s, background .5s, transform .5s, border-color .5s, color .5s
    background $primary
    text-decoration none
    font-weight 700
    color #fff
    position relative
    text-transform uppercase
    padding 0 30px
    margin 0 auto 0 25px
    display inline-block
    cursor pointer
    border-radius 6px
  .btn-small
    margin-top 15px
    margin-bottom 15px
  .btn-sharp
    border 0
    color #fff
    padding 0 10px
    margin 0 20px 10px 0
    border-radius 6px
    display inline-block
    margin-left 25px
    &.btn-gray
      background #666
      height 35px
      transition box-shadow .3s, background .5s, transform .5s, border-color .5s, color .5s
      padding 0 30px
      &:hover
        box-shadow 0 5px 15px -2px rgba(0, 0, 0, .3) !important
        -webkit-transform translateY(-2px)
        transform translateY(-2px)
        border-color transparent
        background $secondary
      &:active
        transform translateY(1px)
        transition all .5ms
        opacity .8